/* General */

* {
	text-align: center;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #aec6cf;
}

/* Container */

.logo-container{
	display: flex;
	position: fixed;
	width: 100%;
	height: 40px;
	flex-direction: row;
	background-color: #191970;
}

.login-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 300px;
}

.header-2-container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
}

.start-screen-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 250px;
}

.prettify-login-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 150px;
}

.user-and-password{
	display: flex;
}

/* Text */

.header-1{
	color: white;
	font-weight: bold;
	margin: 10px 5px 10px 10px;
}

.header-2{
	font-size: 40px;
	font-weight: bold;
}